{% block body %}
<h1>글 수정하기</h1>
<hr>
<br>
<form action="/articles/{{ article.pk }}/update/">
  <div class="form-group">
    <label for="exampleFormControlInput1">글 제목</label>
    <input type="title" class="form-control" name="title" id="exampleFormControlInput1" placeholder="글 제목을 입력해주세요.">
  </div>
  <br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">글 내용</label>
    <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">저장하기</button>
</form>
{% endblock %}